[submodule "frontend"]
	path = frontend
	url = https://github.com/Gustavo422/frontend-aprovafacil
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/Gustavo422/backend-aprovafacil
	branch = main